{% extends 'base.html' %}

{% block content %}
<div class="trip-add">
  {% if object %}
    <h1>Edit <span class="red-text">{{object.destination}}</span></h1>
  {% else %}
    <h1>Add Trip</h1>
  {% endif %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>
  <script>
      var startD = document.getElementById('id_start_date');
      M.Datepicker.init(startD, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: false,
        autoClose: true
      });
    </script>
    <script>
        var endDate = document.getElementById('id_end_date');
        M.Datepicker.init(endDate, {
          format: 'yyyy-mm-dd',
          defaultDate: new Date(),
          setDefaultDate: false,
          autoClose: true
        });
      </script>
{% endblock %}