{% extends 'base.html' %}
{% block content %}

<h1>Trip's Details</h1>

<div class="row"></div>
    <div class="card">
        <div class="card-content">
            {% for photo in trip.photo_set.all %}
              <img class="responsive-img card-panel" src="{{photo.url}}">
            {% empty %}
              <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endfor %}
            <form action="{% url 'add_photo' trip.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
              {% csrf_token %}
              <input type="file" name="photo-file">
              <br><br>
              <input type="submit" class="btn" value="Upload Photo">
          </form>
            <span class="card-title">{{ trip.destination }}</span>
            <p>Start Date: {{ trip.start_date }}</p>
            <p>End Date: {{ trip.end_date}}</p>
            {% if trip.budget > 0 %}
                <p>Amount Needed: ${{ trip.budget }}</p>
            {% else %}
                <p>Amount Needed: Please update budget for better planning</p>
            {% endif %}
        </div>
        <div class="card-action">
            <a href="{% url 'trips_update' trip.id %}">Edit</a>
            <a href="{% url 'trips_delete' trip.id %}">Delete</a>
        </div>
    </div>
</div>
<div class="col s6">
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Amount To Save</th></tr>
      </thead>
      <form action="{% url 'add_savings' trip.id %}" method="post">
        {% csrf_token %}
        {{ savings_form.as_p }}
        <input type="submit" class="btn" value="Add To Saving's Schedule">
      </form>
      <tbody>
        {% for savings in trip.savings_set.all %}
          <tr>
            <td>{{savings.date}}</td>
            <td>${{savings.amount}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: false,
    autoClose: true
  });
</script>
{% endblock %}